@page
@model MIST353-GYMTRACKER.Pages.AboutUs
@{

  ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<img src="https://i.guim.co.uk/img/media/a561b92bd05b3caf63e0a592d2c9d0b25710bad5/0_302_3200_1920/master/3200.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=39b29191f13fddcc54370869aba3cb30" alt="Jogging" id="Jog" />


<p style="font-size:32px;color:#000080">We are a workout company that tracks Weather patterns to help you get the most out of your workout. We use real weather tracking to show you the weather in your area months ahead</p>


<h2 style="color: #FFFFFF; background-color: #000080; font-family: Arial; text-align: center; font-size: 72px "> History of the company</h2>

<h2 style="text-align:center;font-size:48px">Reasons to join Us</h2>
<ul>
    <li style="text-align:center;font-size:24px">We offer weather updates every day</li>
    <li style="text-align:center;font-size:24px">We will send notiications daily</li>
    <li style="text-align:center;font-size:24px">We have accurate weather reports to help you achieve the most out of your day</li>
    <li style="text-align:center;font-size:24px">Look at future days months ahead to look at predictions</li>

</ul>
