@page
@model MIST353-GYMTRACKER.Pages.AboutUs
@{
  
  ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<img src="https://i.guim.co.uk/img/media/a561b92bd05b3caf63e0a592d2c9d0b25710bad5/0_302_3200_1920/master/3200.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=39b29191f13fddcc54370869aba3cb30" alt="Jogging" id="Jog"/>


<p>We are a workout company that tracks Weather patterns</p>


<h2>History of our company</h2>