@page
@using Gym_TrackerAPI.Entities
@model Gym_Tracker.Pages.SearchResultsModel

<h2>Search Results</h2>

@if (Model.MembershipList != null && Model.MembershipList.Any())
{
    <ul>
        @foreach (var membership in Model.MembershipList)
        {
            <li>@membership.ID - @membership.MembershipLevel</li>
        }
    </ul>
}
else
{
    <p>No results found for your search.</p>
}